<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.authcredentials">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AuthCredentials"
        android:usesCleartextTraffic="true">

        <!-- Firebase Auth -->
        <meta-data
            android:name="com.google.firebase.auth.API_KEY"
            android:value="@string/default_web_client_id" />

        <!-- Sign-in Activity -->
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main/Home Screen -->
        <activity android:name=".MainActivity"
            android:exported="false"/>

        <!-- Failed Sign-In Screen -->
        <activity android:name=".LooseActivity"
            android:exported="false"/>

    </application>
</manifest>
